<!DOCTYPE html>
<html th:replace="~{layout/layout_main :: layout(~{::title}, ~{::link}, ~{::style}, ~{::script}, ~{::div.container})}" 
      lang="ko" 
      xmlns:th="http://www.thymeleaf.org"> 
<!-- ::title 은   현재 페이지의 title   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 첫번째 파라미터로 전달한다. -->
<!-- ::link  는   현재 페이지의 link    태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 두번째 파라미터로 전달한다. -->
<!-- ::style 은   현재 페이지의 style   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 세번째 파라미터로 전달한다. -->
<!-- ::script 는  현재 페이지의 script  태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 네번째 파라미터로 전달한다. -->
<!-- ::div.container 은 현재 페이지의 div.container 태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 다섯번째 파라미터로 전달한다. --> 
<!-- 타임리프는 백엔드 서버에서 HTML을 동적으로 렌더링하는 용도로 사용된다. -->

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="">

<style type="text/css"></style>

<!--/* 
      자바스크립트 인라인 
      th:inline="javascript" 은 스크립트 태그 내에서 Thymeleaf 문법([[...]])을 해석할 수 있게 해주는 설정이다.
      JavaScript 안에서 Thymeleaf 값을 넣을 때는 th:inline="javascript" 와 /*[[뭐뭐뭐]]*/ 구문을 사용해야 한다. 
*/-->
<script th:inline="javascript">
 /*<![CDATA[*/
  $(document).ready(function(){
	  
	  $("button#btnPwdChange").click(function(){
		  func_PwdChange();
	  });
	  
	  
	  $("input#passwd2").keydown(function(event){
		  
		  if(event.keyCode == 13) { // 엔터를 했을 경우
			  func_PwdChange();
		  }
	  });
	  
  });// end of $(document).ready(function(){})------------------------------
  
// Function Declaration
  
  function func_PwdChange() {
	  
	  const passwd = $("input#passwd").val(); 
	  const passwd2 = $("input#passwd2").val(); 
	
   // const regExp = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).*$/g; 
   // 또는
	  const regExp = new RegExp(/^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).*$/g); 
      //  숫자/문자/특수문자 포함 형태의 8~15자리 이내의 암호 정규표현식 객체 생성 
          
      const bool = regExp.test(passwd);
			
	  if(!bool) {
		 // 비밀번호가 정규표현식에 위배된 경우  
		 alert("새비밀번호는 숫자,영문자,특수문자가 혼합된 8~15자리 이내이어야 합니다.");
		 $("input#passwd").val(""); 
		 $("input#passwd2").val("");
		 $("input#passwd").focus();
		 return; // 종료	
	  }
	  
	  else {
		 // 비밀번호가 정규표현식에 맞는 경우 
		 if(passwd != passwd2) {
		    alert("새비밀번호 입력값이 다릅니다.");
		    $("input#passwd").val("");
		    $("input#passwd2").val(""); 
		    $("input#passwd").focus();
		    return; // 종료 
	     }
		 
		 else {
			  const frm = document.passwdChangeFrm;
			    
		   // [[@{...}]] 문법이 자동으로 Context Path를 붙여줍니다.
		   // Thymeleaf가 실행될 때는 주석 내부의 값이 할당되고, 
		   // 정적 HTML 상태일 때는 뒤의 'url' 문자열이 할당되어 에러가 나지 않습니다.
			  frm.action = /*[[@{/security/passwdChange}]]*/ 'url';
			  frm.method = "post";
			  frm.submit();
		 }
		 
	  }
	  
  }// end of function func_Login()------------------------
  
 /*]]>*/	
</script>

<body>
	<div class="container">
		<div class="row" style="display: flex; border: solid 0px red;">
			<div class="col-md-8 col-md-offset-2" style="margin: auto; border: solid 0px blue;">
				<h2 class="text-muted">Spring Security(스프링 보안) 비밀번호 변경</h2>
				<hr style="border: solid 1px orange">
				
				<form name="passwdChangeFrm" class="mt-5">
					<div class="form-row">    
					    <div class="form-group col-md-6">
							<label class="text-muted font-weight-bold" for="passwd">새비밀번호</label>
							<input type="password" class="form-control" name="passwd" id="passwd" value=""/>  <!--/* 부트스트랩에서 input 태그에는 항상 class form-control 이 사용되어져야 한다. */--> 
							<input type="hidden" name="memberid" th:value="${session.sessionMemberDTO.memberid}"/>
			            </div>
			
						<div class="form-group col-md-6">
							<label class="text-muted font-weight-bold text-muted" for="passwd2">비밀번호확인</label>
							<input type="password" class="form-control" id="passwd2" value="" /> 
						</div>
					</div>
				</form>
			</div>
			
			<div class="col-md-8 col-md-offset-2" style="margin: auto; display: flex; border: solid 0px blue;">
				<div style="margin: auto; border: solid 0px blue;">
					<button style="width: 150px; height: 40px;" class="btn btn-primary" type="button" id="btnPwdChange">확인</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html> 
