<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.app.ih.dining.mapper.DiningMapper">

    <select id="getDiningList" resultType="DiningDTO" parameterType="HashMap">
	    SELECT 
	        dining_id, name, d_type, description,
	        tel, floor, main_img, fk_hotel_id, business_hours
	    FROM tbl_dining
	    <where>
	        <if test="hotel_id != null and hotel_id != ''">
	            AND fk_hotel_id = #{hotel_id}
	        </if>
	        <if test="d_type != null and d_type != ''">
	            AND UPPER(d_type) = UPPER(#{d_type})
	        </if>
	    </where>
	    ORDER BY dining_id ASC
	</select>
	
    <select id="getDiningDetail" resultType="DiningDTO">
        SELECT 
            dining_id, 
            name, 
            d_type, 
            description,
            introduction,    business_hours,
            tel, 
            floor, 
            main_img,
            store_imgs,      food_imgs,       menu_pdf,        extra_info,      fk_hotel_id      FROM tbl_dining
        WHERE dining_id = #{dining_id}
    </select>
    
</mapper>