<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- domain(DTO) package -->
	<typeAliases>
	
		<typeAlias type="jh.com.spring.app.security.domain.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="fp.com.spring.app.room.domain.RoomTypeDTO" alias="RoomTypeDTO"/>
	
	
	</typeAliases>

</configuration>