<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- domain(DTO) package -->
	<typeAliases>
	
		<typeAlias type="com.spring.app.jh.security.domain.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.spring.app.jh.security.domain.AdminDTO" alias="AdminDTO"/>
		<typeAlias type="com.spring.app.hk.room.domain.RoomTypeDTO" alias="RoomTypeDTO"/>
		
		
		

	
	</typeAliases>

</configuration>