spring: # 주의할 점은 내용작성시 들여쓰기 내어쓰기시 공백개수를 반드시 꼭 지켜야 한다.
  application:
    name: Final_hotel
 
  profiles: #실행환경(dev(개발),test(테스트),local(로컬),prod(운영))
    active: local

  thymeleaf:
    cache: false
    prefix: classpath:/templates/ # classpath: 는 src/main/resources 경로를 말한다. 
    suffix: .html

# datasource: #DB 접속이 1개만 있을 경우
#   driver-class-name: oracle.jdbc.OracleDriver
#  #url: jdbc:oracle:thin:@127.0.0.1:1521:xe    # SID 방식
#   url: jdbc:oracle:thin:@//127.0.0.1:1521/xe  # oracle 12c 이후부터 PDB 사용시 방식
#   username: FinalProject_USER
#   password: sistsix
#   type: com.zaxxer.hikari.HikariDataSource
#   hikari: #커넥션풀 
#    #driver-class-name: oracle.jdbc.OracleDriver
#    #jdbc-url: jdbc:oracle:thin:@127.0.0.1:1521:xe
#    #username: FinalProject_USER
#    #password: sistsix
#     connection-timeout : 30000 #클라이언트가 pool에 connection을 요청하는데 기다리는 최대시간을 설정 30초
#     maximum-pool-size : 10 #최대 커넥션 개수 설정
#     max-lifetime: 1800000  #커넥션 풀에서 살아있을 수 있는 커넥션의 최대 수명시간 1,800초(30분)    

  datasource-finalorauser1: #첫번째 DB 접속. 이름을 다르게 해서 쓰되 _ 가 들어가면 작동안됨.
    driver-class-name: oracle.jdbc.OracleDriver
    jdbc-url: jdbc:oracle:thin:@211.63.89.70:1521:xe    # SID 방식  
    username: final_orauser1
    password: sistsix
    type: com.zaxxer.hikari.HikariDataSource
    hikari: #커넥션풀 
      #driver-class-name: oracle.jdbc.OracleDriver
      #url: jdbc:oracle:thin:@211.63.89.70:1521:xe
      #username: final_orauser1
      #password: sistsix
      minimum-idle: 5        # 최소 유휴(쓰지 않고 놀리는 것) 커넥션 (5개)
      maximum-pool-size: 10  # 최대 커넥션 개수 설정 (10개). pool 의 커넥션 수가 옵션 값(10개)에 도달하게 되면 idle 인 상태는 존재하지 않게 된다.  
      idle-timeout: 30000    # 30초 후 연결 실패시 예외 발생 
      max-lifetime: 1800000  # 커넥션 풀에서 살아있을 수 있는 커넥션의 최대 수명시간 1,800초(30분). 30분 이상 유지된 커넥션은 제거  
      connection-timeout: 30000 # 클라이언트가 pool에 connection을 요청하는데 기다리는 최대시간을 설정 30초

 

#  jpa:
#    database-platform: org.hibernate.dialect.OracleDialect      # Spring Boot 3.2.1 버전 이후 부터는 JPA Provider가 적절한 Dialect 를 찾아내게 해주므로, 즉 설정을 명시하지 않아도 Oracle을 자동 인식해주므로 이를 명시적으로 지정하게 되면 오류가 발생하게 된다.  
    #database-platform: org.hibernate.dialect.Oracle12cDialect  # Spring Boot 3.2.1 버전 이전까지 사용. 공식 18c 버전은 없음. oracle 12C 이후부터 통용됨.
    #database-platform: org.hibernate.dialect.Oracle10gDialect  # Spring Boot 3.2.1 버전 이전까지 사용. oracle 11g 버전에서는 database-platform: org.hibernate.dialect.Oracle10gDialect

#    hibernate:
#      ddl-auto: none
      #ddl-auto: create  # 테이블이나 시퀀스 자동 생성이다. 테이블이나 시퀀스가 존재하지 않는 경우 최초실행시 에러발생함. 무시해도 됨. 테이블을 생성을 해야할 맨처음에만 create 하고 테이블과 관련된 DDL 작업이 없을 때는 none 으로 변경하자.   
               # create      -> 기존 테이블이나 시퀀스를 drop 한 후 다시 생성한다.                 [개발초기단계]
               # create-drop -> SessionFactory 가 시작될 때 테이블이나 시퀀스를 drop 및 생성한다.  [개발초기단계]
               #                SessionFactory 가 종료될 때 테이블을 테이블이나 시퀀스를 drop 한다. 
               #                in-memory DB인 H2 Database 의 기본값이다. 
               # update      -> 테이블의 내용이 변경된 경우 자동으로 변경된 것만 DDL 을 실행해준다.     [개발초기단계]  
               # validate    -> 엔티티와 테이블이 정상 매핑되었는지만 확인.                         [개발초기단계] 또는 [테스터서버]
               # none        -> 아무것도 실행하지 않는다.                                       [배포운영단계]          
               # !!!! 실제 배포운영시에는 ddl-auto: none 으로만 해야 한다. 
               # !!!! 실제 배포운영시에는 절대로 crate, create-drop, update, validate 를 사용하면 안된다. !!!! 
     #naming:
       #physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
               # JPA 엔티티 클래스의 필드 이름을 실제 DB 컬럼명 매핑 방식으로 지정함.
               # Spring Boot는 기본적으로 필드명에 카멜 표기를 사용하면 DB 컬럼명을 스네이크 표기(언더스코어)로 변환함. (ex. 필드명 userName → 컬럼명 user_name).
               # 위와 같이 자동 변환을 해주는 기본 설정을 사용하지 않고, 필드명을 그대로 DB 컬럼명으로 사용하겠다는 설정임.
               # 예를 들어, 필드명 userName 은 DB 컬럼명도 userName 그대로 사용하겠다는 말임.

#    properties:
#      hibernate:
#       '[show_sql]': true         
#       '[format_sql]': true
#       '[use_sql_comments]': true
        # '[show_sql]': true 는 사용되는 SQL문(JPQL)을 콘솔에 출력 해줌 
        # '[format_sql]': true 는 가독성이 좋도록 1줄로 되어진 SQL문(JPQL)을 탭이나 줄바꿈을 하여 보여줌 
        # '[use_sql_comments]': true 는 사용자 주석문을 보여줌 

#    open-in-view: false      

  #data: #=== (#웹채팅관련8) === 
    #mongodb:
      #uri: mongodb://devuser:qwer1234$@127.0.0.1:27017/mydb
      
  messages: #메시지(파일이 여러개일 경우 ,로 구분)
    basename: messages.validation
    encoding: UTF-8

  devtools: #View reload
    livereload:
      enabled: true

    restart: #컨트롤러, 모델단이 바뀌었을 때 프로젝트 재시작(reload) 설정 (정확히는 classpath에 있는 모든 파일)
      enabled: true #재시작(reload) 함

  servlet:
    multipart:
      max-file-size: 10MB     # 파일 업로드 용량제한 설정하기. 파일 업로드 용량을 설정하지 않으면 기본값은 1048576 bytes (1MB)으로 된다.
      max-request-size: 12MB  # 파일 및 파일을 제외한 input 태그값 업로드 용량제한 설정하기. 업로드 용량을 설정하지 않으면 기본값은 1048576 bytes (1MB)으로 된다.


mybatis: #mybatis 설정
 #type-aliases-package: com.spring.app.**.domain 
  mapper-locations: classpath:mybatis/mapper/**/*.xml          
                  # classpath: 는 src/main/resources 경로를 말한다. 
                  # 즉, 매퍼파일의 경로는 src/main/resources/mybatis/mapper/**/*.xml 이다

logging: #로그 지정
  level:
    #root: error
    '[com.spring.app]': debug  #com.spring.app 패키지와 그 하위 패키지에서 발생하는 모든 로그 중 debug 레벨 이상을 출력하는 뜻이다. 반드시 한칸 공백이 있어야 한다. 
    #com.zaxxer.hikari.HikariConfig: DEBUG
    #com.zaxxer.hikari: TRACE
    # 로그 레벨 순서(표준 SLF4j 기준)
    # 1. ERROR (가장높음 / 가장심각) : 시스템에 중대한 문제가 발생했을때
    # 2. WARN : 잠재적인 문제가 생길 수 있는 상황일 때
    # 3. INFO : 정보성 메시지 (서비스 운영 시 확인해야 할 주요 상태)
    # 4. DEBUG : 개발 단계에서 디버깅을 위해 상세 정보를 남길때
    # 5. TRACE (가장낮음 / 가장상세): DEBUG 보다 더 상세한 모든 흐름을 기록할 때
    # '[com.spring.app]': debug  ==> DEBUG, INFO, WARN, ERROR 가 모두 출력됨(거의 모든것이 보임) 
    # '[com.spring.app]': info   ==> INFO, WARN, ERROR 만 출력됨(DEBUG 로그는 무시됨)
    # '[com.spring.app]': error  ==> 정말로 심각한 ERROR 로그만 출력됨
    # 개발중일때는 debug 로 설정하여 꼼꼼이 확인을 하나, 운영(배포)중 일떼는 로그가 너무 많으면 서버 성능에 영향을 주므로 info 나 error 로 수정한다.

server:
  port: 9081
  servlet:
    context-path: /final_hotel  # Spring Framework 에서는 WAS 톰캣서버를 더블클릭하여 context Path 를 수정하였으나 Spring Boot 에서는 여기에서 한다. context-path: 를 주석처리하면 context Path 가 없는 것이다.
                                 # context-path 를 /myspringboot 으로 주었으므로 Boot Dashboard 에 가서 myspringboot 에 마우스 우측클릭 Show Properties 에 클릭하여 General 에서 Path: 란에 myspringboot 을 입력해준다.  
    encoding:
      charset: UTF-8
      enabled: true #http 인코딩 지원을 활성화할지 여부
      force: true #post 방식으로 전송했을때 한글데이터가 안깨지도록 함. # Spring Framework 에서는 web.xml 파일에서 filter 태그를 등록시켜 주었음.
  tomcat:
    max-part-count: 30  # 폼 태그에 들어올 수 있는 파라미터 개수 및 파일의 총 개수는 최대 30개. -1 로 해주면 무제한임.