<!DOCTYPE html>
<html th:replace="~{layout/layout_main :: layout(~{::title}, ~{::link}, ~{::style}, ~{::script}, ~{::div.container-fluid})}" 
      lang="ko" 
      xmlns:th="http://www.thymeleaf.org"> 
<!-- ::title 은   현재 페이지의 title   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 첫번째 파라미터로 전달한다. -->
<!-- ::link  는   현재 페이지의 link    태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 두번째 파라미터로 전달한다. -->
<!-- ::style 은   현재 페이지의 style   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 세번째 파라미터로 전달한다. -->
<!-- ::script 는  현재 페이지의 script  태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 네번째 파라미터로 전달한다. -->
<!-- ::div.container-fluid 은 현재 페이지의 div.container-fluid 태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 다섯번째 파라미터로 전달한다. --> 
<!-- 타임리프는 백엔드 서버에서 HTML을 동적으로 렌더링하는 용도로 사용된다. -->

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="">

<style type="text/css"></style>

<!--/* 
      자바스크립트 인라인 
      th:inline="javascript" 은 스크립트 태그 내에서 Thymeleaf 문법([[...]])을 해석할 수 있게 해주는 설정이다.
      JavaScript 안에서 Thymeleaf 값을 넣을 때는 th:inline="javascript" 와 /*[[뭐뭐뭐]]*/ 구문을 사용해야 한다. 
*/-->
<script th:inline="javascript">
 /*<![CDATA[*/
 /*]]>*/	
</script>

<body>

	<div class="container-fluid">
		<div class="h2 text-center text-success mb-4">모든 회원 정보(관리자 전용)</div>
		
		<table class="table" style="width: 100%; margin: 0 auto;">
		  <thead>
		    <tr>
		      <th>아이디</th>
		      <th>회원명</th>
		      <th>이메일</th>
		      <th>휴대폰</th>
		      <th>집주소</th>
		      <th>가입일자</th>
		      <th>마지막로그인</th>
		      <th>권한</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		       <tr th:each="dto, status : ${memberDtoList}">
		         <td th:text="${dto.memberid}">아이디</td>
		         <td th:text="${dto.name}">회원명</td>
		         <td th:text="${dto.email}">이메일</td>
		         <td th:text="${dto.mobile}">휴대폰</td>
		         <td th:text="${dto.address}">집주소</td>
		         <td th:text="${dto.registerday}">가입일자</td>
		         
		         <!-- T를 공백으로 치환 -->
                 <td th:text="${#strings.replace(dto.last_login_date, 'T', ' ')}">마지막로그인</td>
    
                 <!-- 리스트 요소를 쉼표로 연결 -->
                 <td th:text="${#strings.listJoin(dto.authorities, ', ')}">권한</td>
		       </tr>
		  </tbody>
		</table>
		
	</div>

</body>
</html> 
